<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.newtips">
    <!-- WIFI權限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Socket網路權限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Newtips"
        >


        <activity
            android:name=".IntrodusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Newtips.NoActionBar"
           >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--增加如下屬性，其中crack是喚醒程式的action-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="play.google.com"
                    android:scheme="https"/>
            </intent-filter>

        </activity>

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Newtips.NoActionBar"
            >

        </activity>

        <activity android:name=".Gsavtivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>



        <service android:name=".SocketService" android:enabled="true" />
    </application>

</manifest>